In [1]:
import pandas as pd

In [2]:
# Load the dataset
school_data = pd.read_csv('../PyCitySchools/Resources/schools_complete.csv')
students_data = pd.read_csv('../PyCitySchools/Resources/students_complete.csv')

In [3]:
# Merge the two datasets on school name to combine all necessary information
combined_data = pd.merge(students_data, school_data, how="left", on=["school_name"])

In [7]:
# Group by school and grade, then calculate the average reading score
grade_reading_scores = combined_data.groupby(['school_name', 'grade']).agg({
    'reading_score': 'mean'}).rename(columns={'reading_score': 'Average Reading Score'})

In [5]:
# Display the DataFrame
print(grade_reading_scores)

                             Average Reading Score
school_name           grade
Bailey High School    10th               80.907183
                      11th               80.945643
                      12th               80.912451
                      9th                81.303155
Cabrera High School   10th               84.253219
                      11th               83.788382
                      12th               84.287958
                      9th                83.676136
Figueroa High School  10th               81.408912
                      11th               80.640339
                      12th               81.384863
                      9th                81.198598
Ford High School      10th               81.262712
                      11th               80.403642
                      12th               80.662338
                      9th                80.632653
Griffin High School   10th               83.706897
                      11th               84.288089
                      12th               84.013699
                      9th                83.369193
Hernandez High School 10th               80.660147
                      11th               81.396140
                      12th               80.857143
                      9th                80.866860
Holden High School    10th               83.324561
                      11th               83.815534
                      12th               84.698795
                      9th                83.677165
Huang High School     10th               81.512386
                      11th               81.417476
                      12th               80.305983
                      9th                81.290284
Johnson High School   10th               80.773431
                      11th               80.616027
                      12th               81.227564
                      9th                81.260714
Pena High School      10th               83.612000
                      11th               84.335938
                      12th               84.591160
                      9th                83.807273
Rodriguez High School 10th               80.629808
                      11th               80.864811
                      12th               80.376426
                      9th                80.993127
Shelton High School   10th               83.441964
                      11th               84.373786
                      12th               82.781671
                      9th                84.122642
Thomas High School    10th               84.254157
                      11th               83.585542
                      12th               83.831361
                      9th                83.728850
Wilson High School    10th               84.021452
                      11th               83.764608
                      12th               84.317673
                      9th                83.939778
Wright High School    10th               83.812757
                      11th               84.156322
                      12th               84.073171
                      9th                83.833333