In [42]:
import pandas as pd

In [43]:
# Load the dataset
school_data = pd.read_csv('../PyCitySchools/Resources/schools_complete.csv')
students_data = pd.read_csv('../PyCitySchools/Resources/students_complete.csv')

In [44]:
# Merge the two datasets on school name to combine all necessary information
combined_data = pd.merge(students_data, school_data, how="left", on=["school_name"])

In [45]:
# Group by school and calculate the required metrics
per_school_summary = combined_data.groupby('school_name').agg({
    'Student ID': 'count',
    'math_score': 'mean',
    'reading_score': 'mean',
    'budget': 'mean'
}).rename(columns={
    'Student ID': 'Total Students',
    'math_score': 'Average Math Score',
    'reading_score': 'Average Reading Score',
    'budget': 'Budget'})

In [46]:
# Calculate % passing math and reading for each school
per_school_summary['% Passing Math'] = combined_data[combined_data['math_score'] >= 70].groupby('school_name', observed=True)['Student ID'].count() / per_school_summary['Total Students'] * 100
per_school_summary['% Passing Reading'] = combined_data[combined_data['reading_score'] >= 70].groupby('school_name', observed=True)['Student ID'].count() / per_school_summary['Total Students'] * 100

In [47]:
# Calculate % overall passing (students passing both math and reading)
per_school_summary['% Overall Passing'] = combined_data[(combined_data['math_score'] >= 70) & (combined_data['reading_score'] >= 70)].groupby('school_name', observed=True)['Student ID'].count() / per_school_summary['Total Students'] * 100

In [48]:
# Define the bins for school size
size_bins = [0, 1000, 2000, 5000]  # Adjust these numbers based on your data
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [49]:
# Use pd.cut to categorize school sizes
per_school_summary['School Size'] = pd.cut(per_school_summary['Total Students'], bins=size_bins, labels=size_labels)

In [50]:
# Group by the 'School Size' and calculate the mean for each performance metric
size_summary = per_school_summary.groupby('School Size', observed=True).agg({
    'Average Math Score': 'mean',
    'Average Reading Score': 'mean',
    '% Passing Math': 'mean',
    '% Passing Reading': 'mean',
    '% Overall Passing': 'mean'}).reset_index()

In [51]:
# Display the per_school_summary DataFrame
per_school_summary.head()

,Total Students,Average Math Score,Average Reading Score,Budget,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,
Bailey High School,4976,77.048432,81.033963,3124928.0,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,1858,83.061895,83.975780,1081356.0,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,2949,76.711767,81.158020,1884411.0,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,2739,77.102592,80.746258,1763916.0,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,1468,83.351499,83.816757,917500.0,93.392371,97.138965,90.599455,Medium (1000-2000)